

.cls-2 p{
display : inline-block;
color : red;


}
.cls-1{
    width: 1200px;
    border: 2px solid green;
    padding: 1px;
    margin: 10px;
    background-color:#FFFF99

}

.cls-3{

    width: 1200px;
    border: 2px solid green;
    padding: 1px;
    margin: 10px;
    background-color:#FFFF99


}


